body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.menu-container {
    background-color: #000000;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 9px;


}

nav ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

nav ul.menu li {
    position: relative;
    flex: 1;
    text-align: center;
    
}

nav ul.menu li:last-child {
    border-right: none;
}

nav ul.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
}

nav ul.menu li a:hover {
    text-decoration: underline;
    color: #FC0037;
}

section {
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

#Inicio {
    background-color: #000000; /* Verde Claro */
}

#sobre {
    background-color: #000000; /* Azul Claro */
}

#projetos {
    background-color: #000000; /* Amarelo Claro */
}

#contato {
    background-color: #000000; /* Coral Claro */
}

.projeto {
    margin-bottom: 20px;
    color: #ffffff;
    position: relative;
    padding: 20px;
    border-radius: 10px;

}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #FC0037;
       
}

form button:hover {
    background-color: #FC0037;
    
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000000;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color:#ffffff;
    
}

.imagem-direita {
    float: right;
    margin-left: 10px;
    width: 100px;
    height: 100px;
}

.imagem {
    margin-left: 20px;
    width: 100px;
    height: 50px;
}

.projetos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    color: #fff;
    
}

.projeto {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #FC0037;
   
}

.Inicio-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.Inicio-texto {
    max-width: 80%;
    color: #ffffff;
    text-align: left;
    width: 50%;
    left: 0%;
    position: relative;
}
.Inicio-texto h1 {
    max-width: 80%;
    color: #ffffff;
    font-size: 40px;
    bottom: -25px;
   
}

.ramon{
    margin-left: 20px;
    width: 300px;
    height: 300px;
    top: 50px;
    position: relative;
}

.imagem-paragrafo {
    display: flex;
    align-items: center;
}

.imagem-paragrafo img {
    margin-left: 20px;
    width: 200px;
    height: 200px;
}

.imagem-paragrafo p {
    margin-left: 20px;
}



.sobre-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.sobre-texto {
    max-width: 80%;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    width: 50%;
    right: 7%;
    position: relative;
}

.ramon-direito{
    margin-left: 20px;
    width: 400px;
    height: 400px;
    position: relative;
    left: 3%;
    top: 10px;
}


h2 {
    color: #fff;
    text-align: center;
}

h1 {
    color: #fff;
    text-align: left;
    left: 10px;
    font-size: 15px;
    position: relative;
}

.ferramenta{
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    position: absolute;
}

.p1{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.projetos .projeto a {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff; /* Ajuste a cor conforme necessário */
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    padding: 5px 10px;
    border-radius: 5px;
}
.projetos .projeto {
    position: relative;
    padding: 20px;
}
.projetos .projeto p{
    position: relative;
    top: -10px;
    text-align: left;
}


.social-buttons {
    bottom: 5px;
    left: 20px;
    display: flex;
    align-items: flex-start;
  
}

.social-buttons a, .social-buttons button {
    background-color: #747474; /* Cor do fundo */
    color: white; /* Cor do texto */
    padding: 20px 20px; /* Espaçamento interno */
    margin: 10px 10px; /* Espaçamento externo */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Mãozinha ao passar o mouse */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
    text-align: center; /* Alinhamento do texto */
    display: inline-block; /* Exibição em bloco inline */
    position: relative;
    left: 41%;
    top: 20px;
    transform: translateX(-5%);

}
.social-buttons a:hover, .social-buttons button:hover {
    background-color: #FC0037; /* Cor de fundo ao passar o mouse */
    text-decoration: none; /* Sem sublinhado no link */
}

.social-buttons i {
    margin-right: 10px; /* Espaçamento à direita do ícone */
}


.linkagem {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    justify-content: flex-start;
    position: relative;
    top: -70px;
    left: 20px;
   
    
    
}

.link-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px; /* Espaçamento entre os botões */

    
}

.link-item {
    color: #000000;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s, color 0.3s;
    width: auto;

}

.link-item:hover {
    background-color: #FC0037;
    color: #ffffff;
}

.msg-inicio{
    font-size: 17px;
    margin-bottom: -50px;
    left: 100px;
    margin-left: 12px;
}